<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type = "text/tailwindcss">
      @theme {
        --font-title: "roboto", sans-serif;
        --font-mono: "in", inconsolata;
        --color-pastel-blue: #d4f5ff;
        --color-pizza: #0000FF;
      }
    </style>

    <title>Login</title>

  </head>

  <body class = "bg-linear-to-bl from-rose-600 to-pink-400">

    <nav class = "flex items-center bg-gray-800 p-2 align-items: center">

      <div class = "flex flex-auto justify-center">
      <button class = "bg-black text-white border-1 text-[20px] hover:bg-white hover:text-black">
      <a href="{{ url_for('home') }}">Home</a>
      </button>

      <button class = "bg-black text-white border-1 text-[20px] hover:bg-white hover:text-black">
      <a href="{{ url_for('chorus') }}">Chorus</a>
      </button>

      <button class = "bg-black text-white border-1 text-[20px] hover:bg-white hover:text-black">
      <a href="{{ url_for('cs') }}">Bonus CS Stuff</a>
      </button>

      <button class = "bg-black text-white border-1 text-[20px] hover:bg-white hover:text-black">
      <a href="{{ url_for('essay') }}">Essay</a>
      </button>
      </div>
    </nav>

    <h2 class = "font-fancy text-center text-[140px]">Chrous Stuff</h2>

    <br>
    <br>

    <div class = "flex flex-auto">

      <div class = "w-1/2">
        <h3 class = "font-trivia text-center">

          About Choir

          <br>
          <br>
          <br>

          I have been in Stuyvesant's Bass Choir for all three years, and boy, joining this was the best decision I have ever made in my life.

          <br>
          <br>
          <br>

          Being in choir is one of the most fun things you can experience in Stuy.
          Yes, there are lots of after-school rehersals.
          Yes, those rehersals and concerts are quite intense.
          However, you will make the most wonderful friends, have countless funny moments, and overall, an awesome time there.

          <br>
          <br>
          <br>

          If I could rewind time, I would do everything all over again.
          Having dinner at midnight post-concert.
          Gaining aura from wearing a concert black suit to class.
          Messing around with friends at the piano.
          Everything.
          I'd rewind time to 8th grade so I could get into Stuy a year earlier and experience an additional year of it.
          Choir gave me an identity to who I am and made my overall experience at Stuy much more sophisticated.

        </h3>
      </div>

      <div class = "w-1/2">
        <h3 class = "font-trivia text-center">

          Here are some of my favorie pieces we sang in various concerts on Youtube.

        </h3>

        <div class = "flex flex-auto">

          <iframe class = "w-1/2 h-64" src="https://www.youtube.com/embed/Fp9KusjSPo0" frameborder="0" allowfullscreen></iframe>
          <iframe class = "w-1/2 h-64" src="https://www.youtube.com/embed/huNzBDbO5fw" frameborder="0" allowfullscreen></iframe>

        </div>

        <br>
        <br>

        <h3 class = "font-trivia text-center text-[10px]">

          These videos just wouldn't show up on the website, so I put them as clickable images instead.
          <br>
          Left: I'm Just Ken
          <br>
          Right: Bridge Over Troubled Water (I sung a solo! (but with two other people))

        </h3>

        <div class = "flex flex-auto">

          <a href="https://www.youtube.com/watch?v=S6E2no8VbqU"><img src="static/images/ken.png" alt="if you can see this that is sad"></a>
          <a href="https://www.youtube.com/watch?v=uI74j3JkcUk"><img src="static/images/water.png" alt="if you can see this that is sad"></a>

        </div>

        <br>

        <h3 class = "font-trivia text-center text-[10px]">

          There are some others I would like to show (I sung a true solo in one of them), but at the time of the due date, those videos haven't been uploaded yet. :(

        </h3>

      </div>

    </div>

  </body>
</html>
