<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type = "text/tailwindcss">
      @theme {
        --font-title: "roboto", sans-serif;
        --font-mono: "in", inconsolata;
        --color-pastel-blue: #d4f5ff;
        --color-pizza: #0000FF;
      }
    </style>

    <title>Login</title>

  </head>

  <body class = "bg-linear-to-bl from-emerald-800 to-green-600">

    <nav class = "flex items-center bg-gray-800 p-2 align-items: center">

      <div class = "flex flex-auto justify-center">
      <button class = "bg-black text-white border-1 text-[20px] hover:bg-white hover:text-black">
      <a href="{{ url_for('home') }}">Home</a>
      </button>

      <button class = "bg-black text-white border-1 text-[20px] hover:bg-white hover:text-black">
      <a href="{{ url_for('chorus') }}">Chorus</a>
      </button>

      <button class = "bg-black text-white border-1 text-[20px] hover:bg-white hover:text-black">
      <a href="{{ url_for('cs') }}">Bonus CS Stuff</a>
      </button>

      <button class = "bg-black text-white border-1 text-[20px] hover:bg-white hover:text-black">
      <a href="{{ url_for('essay') }}">Essay</a>
      </button>
      </div>
    </nav>

    <h2 class = "font-fancy text-center text-[140px]">Bonus!</h2>

    <br>
    <br>

    <div class = "flex flex-auto">

      <div class = "w-2/3">
        <h3 class = "font-trivia text-center">

          CS Stuff For Fun

          <br>
          <br>
          <br>

          Although I did not mention doing Computer Science in my essay (because it is not relevant to my actual topic), I would still like to mention creating cool stuff with it.

          <br>
          <br>
          <br>

          Thanks to my Software Development class, I am able to create this website using Flask, a web application framework that links and runs HTML templates and Python together.
          I also learned how to use Tailwind, a front-end framework that allows you to style your websites like this one.
          You are able to view this website right now because in addition, I learned to use DigitalOcean, a place to put websites in an actual domain for other people to view easily (but it will get taken down since my free trial will expire eventually).

          <br>
          <br>
          <br>

          The video I have provided is my AP Computer Science final project from junior year, involving a game of Tetris with some very odd shaped blocks inspired from Block Blast.
          This uses Processing, a programming language similar to Java that focuses on graphics.
          This was pretty enjoyable to make, and is very funny to play!

        </h3>
      </div>

      <div class = "w-1/3">
        <h3 class = "font-trivia text-center">

          Tetris video (will provide live demo in class if possible)

        </h3>

        <video controls>
        <source src="static/videos/tetris.mp4" type="video/mp4">
        Your browser does not support HTML video.
        </video>


      </div>

    </div>

  </body>
</html>
