<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type = "text/tailwindcss">
      @theme {
        --font-title: "roboto", sans-serif;
        --font-mono: "in", inconsolata;
        --color-pastel-blue: #d4f5ff;
        --color-pizza: #0000FF;
      }
    </style>

    <title>Login</title>

  </head>

  <body class = "bg-linear-to-r from-fuchsia-300 to-orange-300">

    <nav class = "flex items-center bg-gray-800 p-2 align-items: center">

      <div class = "flex flex-auto justify-center">
      <button class = "bg-black text-white border-1 text-[20px] hover:bg-white hover:text-black">
      <a href="{{ url_for('home') }}">Home</a>
      </button>

      <button class = "bg-black text-white border-1 text-[20px] hover:bg-white hover:text-black">
      <a href="{{ url_for('chorus') }}">Chorus</a>
      </button>

      <button class = "bg-black text-white border-1 text-[20px] hover:bg-white hover:text-black">
      <a href="{{ url_for('cs') }}">Bonus CS Stuff</a>
      </button>
      </div>
    </nav>

    <h2 class = "font-fancy text-center text-[140px]">Hello!</h2>
    <br>
    <br>

    {% if error %}
      <h3 class = "text-center font-bold text-red-800">{{ error }}</h3>
    {% endif %}

    <p class = "text-center">Don't have an account?

    </br>

    <button class = "bg-pastel-blue border-1 w-1/11 hover:bg-white rounded-full">
    <a>Register Here</a>
    </button>
    </p>

  </body>
</html>
